.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.loginRight,
.loginLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginLogo {
  font-size: 50px;
  font-weight: 800;
}
.loginDesc {
  font-size: 24px;
}
.loginBox {
  height: 400px;
  padding: 20px;
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid green;
  font-size: 18px;
  padding-left: 20px;
}
.loginInput:focus {
  outline: none;
}
.loginButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.forgotPassword {
  text-align: center;
  color: rgb(155, 70, 6);
}
.loginRegisterButton {
  background-color: green;
  color: white;
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
