.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.messageTop {
  display: flex;
}
.messageText {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(107, 102, 102);
  color: white;
  max-width: 300px;
}
.message.own {
  align-items: flex-end;
}
